html, body{
  margin: 0; padding: 0;
  width: 100%; height: 100%;
  font-family: sans-serif;
}
*{
  box-sizing: border-box;
  outline: none;
}
.conteudo, .conteudo > *{
  height: 100%; width: 100%;
  position: relative;
}

/*
  cores: 
  #00072D Azul escuro
  #19647E Azul cedio
  #B8B8F3 Azul claro / Roxo claro
  #89043D Rosa escuro
    #69043D
  #D7B8F3 Rosa claro / Mauve
*/

button{
  width: 100%;
  color: #fff;
  background: #89043D;
  color: #FFF;
  font-family: monospace;
  font-size: 20px;
  border: none;
}
button, .button{
  cursor: pointer;
  box-shadow: 0 0 0px #444 inset, 0 0 0px #000 inset;
  
  transition: all 0.3s ease-out;
}
button:active, .button:active{
  box-shadow: 0 0 30px #444 inset, 0 0 10px #000 inset;
}
form{
  position: relative;
  height: 100%; width: 100%;
}

/*=======================   Login   ==============================*/
.loginPage{
  padding: 20% 10%;
}
.loginPage .inputBox{
  width:100%;
  position: relative;
}
.loginPage .inputBox .status{
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0;
  top: 5px;
  background: #aaa;
  color: #fff;
}
.loginPage .inputBox .status.ok{ background: #339933; }
.loginPage .inputBox .status.error{ background: #993333; }
.loginPage input{
  width: 100%;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 20px;
  height: 30px;
  display: block;
}
.loginPage .loginMsg{
  height: 60px;
  margin: 10% 0 0;
  position: relative;
  bottom: 0;
}
.loginPage button{
  height: 40px;
}



/*=======================   Lobby   ==============================*/
.lobbyPage{
  padding: 0 10%;
}
.lobbyPage .recarregar{
  display: block;
  height: 40px;
  margin: 20px 0;
}
.lobbyPage .listaUsers{
  border-top: 1px solid #999;
}
.lobbyPage .listaUsers .item{
  border-bottom: 1px solid #999;
  font-size: 18px;
  height: 62px;
  line-height: 62px;
  cursor: pointer;
}
.lobbyPage .listaUsersVazia{
  line-height: 60px;
  color: #bbb;
  font-family: monospace;
  font-size: 18px;
  text-align: center;
}


/*=======================   Chat   ==============================*/
.chatPage{
  
}
.chatPage .voltar{
  position: absolute;
  left: 20px;
  top: 10px;
  color: #89043D;
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
}
.chatPage .contato{
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-family: monospace;
  text-align: center;
  color: #fff;
  background: #89043D;
}
.chatPage .camera{
  position: absolute;
  right: 20px;
  top: 10px;
  color: #89043D;
  background: #fff;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 10px;
  width: auto;
}
.chatPage .camerasBox{
  position: absolute;
  top: 50px;
  width: 80%;
  left: 10%;
  height: 70%;
}
.chatPage .camerasBox video{
  border: 1px solid #999;
}
.chatPage .camerasBox .remoteCam{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 70%;
}
.chatPage .camerasBox .minhaCam{
  display: block;
  margin: 8% auto 0;
  width: 20%;
  height: 20%;
}
.chatPage .teclado{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  border-top: 1px solid #999;
  height: auto;
}
.chatPage .teclado textarea{
  border: none;
  min-height: 60px;
  resize: none;
  width: 85%;
  padding: 10px;
}
.chatPage .teclado button{
  border-radius: 50%;
  position: absolute;
  right: 20px;
  bottom: 10px;
  height: 40px;
  width: 40px;
  background: #2ECC40;
}

