<!DOCTYPE html>
<html>
  <head>
    <title>Vídeo : Peer.js</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
    
      <!--  Google WebRTC Adapter  -->
    <script src="js/libs/adapter.js" type="text/javascript"></script>
    <script src="js/libs/peer.js" type="text/javascript"></script>
    
    <script src="js/libs/angular.min.js" type="text/javascript"></script>
    <script src="js/libs/angular-touch.min.js" type="text/javascript"></script>
    <script src="js/libs/angular-ui-router.min.js" type="text/javascript"></script>
    <script src="js/principal.js" type="text/javascript"></script>
    <script src="js/rotas.js" type="text/javascript"></script>
    
    <script src="js/controlador/Login.js" type="text/javascript"></script>
    <script src="js/controlador/Lobby.js" type="text/javascript"></script>
    <script src="js/controlador/Chat.js" type="text/javascript"></script>
    <script src="js/servico/Sessao.js" type="text/javascript"></script>
    
  </head>
  <body ng-app="PeerJs" ng-strict-di="true">
    
    <div class="conteudo" ui-view="conteudo"></div>
    
    <script type="text/ng-template" id="login.html">
      <div class="loginPage" ng-controller="Login">
        <form novalidate name="Formulario">
          <div class="inputBox">
            <div class="status" ng-class="{ ok: loginCheck > 0, error: loginCheck < 0 }"></div>
            <input type="text" name="nomeUsuario" ng-model="login"
              placeholder="Seu apelido" ng-keyup="check()"/>
          </div>

          <div class="loginMsg">{{ msg }}</div>

          <button class="entrar" ng-click="entrar()">Entrar</button>
        </form>
      </div>
    </script>
    
    <script type="text/ng-template" id="lobby.html">
      <div class="lobbyPage" ng-controller="Lobby">
        
        <button class="recarregar" ng-click="refresh()">Recarregar</button>
        
        <div class="listaUsers">
          <div class="item" ng-click="chamar(x)"
            ng-repeat="x in lista | orderBy">{{ x }}</div>
        </div>
        <div class="listaUsersVazia" ng-show="!lista.length">
          Não existem outros usuários logados
        </div>
        
      </div>
    </script>
    
    <script type="text/ng-template" id="chat.html">
      <div class="chatPage" ng-controller="Chat">
        <div class="contato">{{ peerId }}</div>
        <button class="voltar" ng-click="voltar()">&lt;</button>
        <button class="camera" ng-click="camera()" ng-show="!camOn">Camera</button>
        <button class="camera" ng-click="cameraDesligar()" ng-show=" camOn">Desligar Cam</button>
        
        <div class="camerasBox" ng-show=" camOn">
          <video class="remoteCam" autoplay loop ></video>
          <video class="minhaCam" autoplay loop ></video>
        </div>
        
        <div class="msgs">
          <div class="item" ng-repeat="x in sala.msgs"
            ng-class="{ msgMinha: x.peerId === meuId }">{{ x.msg }}</div>  
        </div>
        
        <form novalidate class="teclado">
          <textarea ng-model="msg"></textarea>
          <button ng-click="send()">&gt;</button>
        </form>
      </div>
    </script>
    
    <!--  =======================================================  -->
    
    <!--
    <div class="lado">
      <h1>Meu vídeo</h1>
      <video id="video" preload autoplay loop></video>
    </div>
    
    <div class="lado">
      <h1>Vídeo remoto</h1>
      <video id="remoteVideo" preload autoplay loop></video>
    </div>
    -->
    
    <!--
    <div class="lado">
      <h1>Vídeo Raspberry</h1>
      <img src="http://192.168.0.9:8080/stream/video.mjpeg" alt="VideoRasp"/>
      <img src="http://192.168.0.9:8080/stream/video.h264" alt="VideoRasp"/>
    </div>
    -->
    
  </body>
</html>
